.external-bar {
 position: fixed;
}

.e-messages {
    position: fixed;
}

.e-right {
    float: right;
    top: 41px;
}

.e-left {
    float: left;
    top: 41px;
}

.e-bottom {
    bottom: 0px;
    width: 100%;
    background-color: silver;
}
.e-byline {
    float: right;
    right: 20px;
}