{% extends 'layout.html.twig' %}
{% set active = 'blog' %}

{% block content %}
    <h1>News:</h1>
    <ul class="media-list">
    {% for post in records %}
        {% include 'snips/post1.snip.twig' %}
    {% endfor %}
    </ul>
{% endblock %}
