<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ post.title }}</h3>
        <span class="pull-right">{{ post.date }}</span>
    </div>
    <div class="panel-body">
        {{ post.content }}
    </div>
    <div class="panel-footer pull-right">
        by: <a href="http://plus.google.com/+EricGeorge" rel="author">{{ post.user }}</a>
    </div>
</div>